*{
    padding: 0px;
    margin: 0px;
}

#root{
    width: 100%;
}

body{
    width: 100%;
}

header{
    width: 100%;
    text-align: center;
}

#register-form{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.input-container{
    display: flex;
    width: 40%;
    margin: 5px;

    justify-content: space-between;
}

#register-form button{
    margin: 5px;
}

.input-container input{
    min-width: 100px;
    width: 50%;
}

nav.navbar{
    padding-left: 20px;
    padding-right: 20px;
}